<header id="header">
 	<nav class ="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                 
                <h3><a href="{{ path('fos_user_index') }}">.HOME.</a></h3>
                 <ul class ="navbar height">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('user_showme') }}">MY PROFILE</a>
                        <a href="{{ path('user_list') }}">MY BONOBO FRIENDLY</a>
                        <a href="{{ path('logout') }}">LOGOUT</a>
                    {%  else  %}
                        <a href="{{ path('register') }}">REGISTER</a>
                        <a href="{{ path('login') }}">LOGIN</a>
                    {% endif %}
                 </ul>

	        </div>
        </div>
    </nav>
</header>