{% extends '::base.html.twig' %}
{% block title %}REGISTER{% endblock %}

{% block FOSUserBundle_content %}
	<h3 class="center title">.REGISTER.</h3>
	<div class="register">
		<div class=" register-screen">
			{{ form_start(form, {'attr': {'class': 'register-form'}}) }}
			{{ form_rest(form) }}
			{{ form_row(form.family) }}
			{{ form_row(form.race) }}
			{{ form_end(form) }}
	    </div>
	</div>
{% endblock FOSUserBundle_content %}