{% extends '::base.html.twig' %}
{% block title %} MY PROFIL {% endblock %}

{% block FOSUserBundle_content %}
    <div class="uk-modal-header">
		<h3 class ='center'>.MY PROFIL.</h3>	
	</div>
	<div class="uk-modal-header">	

		{% if form  is defined %}

			<div id="content" class="center">
				<h4 class="">My informations:</h4>
				<p>{{ ' My username' }}: {{ user.username }}</p>
                <p>{{  'My age' }}: {{ user.age|date("m/d/Y")  }} </p>
				<p>{{  'My family' }}: {{ user.family }}</p>
				<p>{{  'My race' }}: {{ user.race }}</p>
				<p>{{  'My foods' }}: {{ user.foods }}</p>
			</div>
        {% endif %}
        {% if form is not defined %}
			<h4>Edit my informations {{ " are already update" }}</h4>
        {% else %}

			<div id="content" class="center">
				<h4 class="">Edit my informations: </h4>
				<!--change l'action du form-->
                {{ form_start(form)}}
                {{ form_widget(form) }}
				{{ form_end(form) }}
			</div>

		{% endif %}
    </div>

{% endblock FOSUserBundle_content %}